#html{
    background-color: #caaab7;
}

#main-nav {
    width: 100%;
    background-color:#fac0d7
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;                  
    justify-content: space-around;  
    align-items: center;           
}

#main-nav ul li {
    flex: 1;                        
    text-align: center;     
    font-size: 1em;      
}

#main-nav ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #ff009d;
}

#main-nav ul li a:hover {
    background-color: #ff9dda;
    color: #ff009d;
}

#p {
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
}

#footer {
    border-top: 3px solid #ff009d; 
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 3rem; 
    font-family: 'PT Serif', serif;
    color: #ff0044;
    margin: 2rem 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
}

.container img {
        width: 200px;
        height: 150px;
        object-fit: fill; 
    }
.container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
    flex-wrap: wrap;
}

