html{
    background-color: #ffdef4;
}
#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;               
    justify-content: center;     
    position: relative;
}

#main-nav ul li {
    background-color: #ff80d5;
    display: flex;
    margin: 0 10px;           
}

#main-nav ul li a {
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    color: #ff009d;
}

#main-nav ul li a:hover {
    background-color: #ff9dda;
    color: #ff009d;
}

#h1 {
    position: absolute;
    left: 420px;
    top:5px;
    font-size: 3em;
    font-family: 'PT Serif', serif;
    color: #ff0044;
}

